.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.hamburger-menu {
  display: initial;

  @include respond-to(large) {
    & {
      display: none;
    }
  }
}

.hamburger-menu #menu__toggle ~ .overlay {
  display: none;
}

.hamburger-menu #menu__toggle:checked ~ .overlay {
  background: rgba(0, 0, 0, 0.5);
  display: initial;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
  &:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}
/* стилизуем кнопку */
.menu__btn {
  cursor: pointer;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 8px 0 20px 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  z-index: 2;
  overflow-y: auto;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.menu-logo {
  padding: 12px 24px;
}

.menu__group {
  border: 1px solid #e1e1e1;
}
